html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Montserrat";
}

main{
    color: white;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

img{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: black;
    color: white;
    gap: 20px;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    gap: 9vw;
}

nav > a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

.inscrire > a{
    background-color: #AE2344;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

.inscrire :hover{
    transition: none;
    transform: scale(1.03);
}

.logo{
    display: flex;
    width: 90px;
    justify-content: center;
    padding-left: 20px;
    font-size: 1vw;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deb{
    padding: 0 0 0 15px;
}

.rectangle{
    height: 9px;
    width: 183px;
    background-color: #AE2344;
}

.rectangle2{
    height: 9px;
    width: 30%;
    background-color: #AE2344;
}

.sec{
    min-height: 200vh;
    background-color: #8A2051;
}

.image{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
}

.mainim{
    border-radius: 16px;
}

.mainim img{
    height: 500px;
    border-radius: 16px;
}

.im{
    margin-right: 30px;
    border-radius: 16px;
}

.im img{
    height: 500px;
    border-radius: 16px;
}

.adf{
    background: #FFF5D4;
    border-radius: 16px;
    margin-left: 30px;
}

.adf img{
  height: 200px;
  object-fit: cover;
}

.main2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right p{
    background: #FFF5D4;
    color: black;
    padding: 20px;
    border-radius: 16px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left p{
    padding-left: 15px;
    font-size: 1.4rem;
}


.rectangle3{
    position: absolute;
    right: 0;
    height: 9px;
    width: 38%;
    background-color: #AE2344;
}

.main3{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFF5D4;
    color: black;
    padding: 30px;
    border-radius: 16px;
    width: 900px;
}

.card p,h2{
    font-size: 1.3rem;
}

.txt{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.temoi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    color: black;
    background: white;
    padding: 20px;
    font-size: 3rem;
    border-radius: 16px;
}