body{
    margin: 0;
    font-family: "Montserrat";
}

h1{
    font-size: 140%;
}

header{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 180px;
    padding: 10px 30px 10px 30px;
    background-color: black;
    color: white;
    gap: 10px;
}

img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.nav > a{
    text-decoration: none;
    color: white;
}

.inscrire > a{
    background-color: #AE2344;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

.inscrire :hover{
    transition: none;
    transform: scale(1.03);
}

.logo{
    display: flex;
    width: 90px;
    justify-content: center;
    padding-left: 20px;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url(/image/background/back\ info.png);
    background-size: cover;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .top,.bottom,.top2{
    margin-left: 15px;
}

.rectangle1{
    height: 9px;
    width: 110px;
    background-color: #AE2344;
}

.rectangle2{
    height: 9px;
    width: 250px;
    background-color:#AE2344;
}

.top h1,p {
    margin: 0;
}

.top2 h1,p {
    margin: 0;
}

.top2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mid{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.bottom{
    display: flex;
    max-width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #8A2051;
    border-radius: 16px;
    align-items: center;
    color: white;
    width: 240px;
}

.card img {
  width: 100%;
  height: 200px; /* Hauteur fixe */
  object-fit: cover; /* Recadre proprement */
}

.card p{
    padding: 20px;
    display: flex;
}

.car{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.car p{
    padding: 0,10px,0,10px;
}

.sec2{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color:#FFF5D4;
}